@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    font-family: 'Inter';
}

.views, .features, .wiping{
    background: linear-gradient(62.01deg, #407BFF 18.51%, #21E6D5 56.3%, #212867 86.53%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
   text-fill-color: transparent;
}

.faq{
    background: rgba(47, 128, 237, 0.1)
}

.realtime__text {
    font-size: 64px;
    line-height: 115.02%;
    background: linear-gradient(
      62.01deg,
      #407bff 18.51%,
      #21e6d5 56.3%,
      #212867 86.53%)
}

.footer__text {
    font-size: 36px;
    line-height: 44px;
    background: linear-gradient(
      62.01deg,
      #407bff 18.51%,
      #21e6d5 56.3%,
      #212867 86.53%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
  }